<form>
	<div class="form-group">
		<label for="username">Username:</label>
		<input type="text" required ng-model="username" class="form-control" id="username">
	</div>	
	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" ng-model="name" id="name" class="form-control">
	</div>
	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" ng-model="password" id="password" class="form-control">
	</div>
	<div class="form-group">
		<label for="password2">Verify password:</label>
		<input type="password" ng-model="passwordConfirm" id="password2" class="form-control">
	</div>
 		<button ng-click="register()" class="btn -btn-success">Register</button>	
</form>